In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
full_table = pd.read_csv(open('name_reviews_gender_fulltable.csv','rU'), encoding='utf-8', engine='c')

C:\Users\amyhu\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning: 'U' mode is deprecated
  if __name__ == '__main__':

In [4]:
full_table.head()

,href,content,name,gender_fact
0,/dentists/Dr_Aarika_Anderson_Elter,Dr. Anderson explained in detail my options fo...,Aarika D Anderson Elter,NaN
1,/dentists/Dr_Aamir_Wahab,Had an implant done and it was painless. I cou...,Aamir Wahab,M
2,/dentists/Dr_Aanal_Parikh,Do not go to this dentist office they scam peo...,Aanal K Parikh,NaN
3,/dentists/Dr_Aaron_Aguilar,Very thoughtful Dr. Communicates/bedside mann...,Aaron D Aguilar,NaN
4,/dentists/Dr_Aaron_D_Larsen,Would continue to see Dr. Larsen however his ...,Aaron D Larsen,M

In [5]:
raw_name_gender = full_table.loc[:,['href','name','gender_fact']]

In [18]:
lower = lambda x: str(x).lower()
raw_name_gender.name = raw_name_gender.name.apply(lower)

In [19]:
raw_name_gender.head()

                                 href                     name gender_fact
0  /dentists/Dr_Aarika_Anderson_Elter  aarika d anderson elter         NaN
1            /dentists/Dr_Aamir_Wahab              aamir wahab           M
2           /dentists/Dr_Aanal_Parikh           aanal k parikh         NaN
3          /dentists/Dr_Aaron_Aguilar          aaron d aguilar         NaN
4         /dentists/Dr_Aaron_D_Larsen           aaron d larsen           M

In [21]:
def get_top(x):
    a = x.value_counts()
    if a.any():
        return a.index[0]
    else:
        return 'NA'

In [23]:

GenderFactTable = raw_name_gender.groupby('name').agg({'gender_fact': get_top})

In [27]:
GenderFactTable.isnull().sum()

gender_fact    0
dtype: int64

In [28]:
GenderFactTable.to_csv("GenderFactTable.csv", index=False)