In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
GenderFactTable = pd.read_csv(open('GenderFactTable.csv','rU'), encoding='utf-8', engine='c')

C:\Users\amyhu\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning: 'U' mode is deprecated
  if __name__ == '__main__':

In [4]:
GenderFactTable.head()

          name gender_fact
0  a a durrani           M
1   a a hodari           F
2  a a kennedy           M
3   a a khalil           M
4  a a towfigh           M

In [8]:
GenderFactTable['first_name'] = 1
GenderFactTable['gender_pre'] = 1

In [9]:
GenderFactTable

                              name gender_fact  first_name  gender_pre
0                      a a durrani           M           1           1
1                       a a hodari           F           1           1
2                      a a kennedy           M           1           1
3                       a a khalil           M           1           1
4                      a a towfigh           M           1           1
5                       a b belman           M           1           1
6                         a b benz           M           1           1
7                     a b chumbley           M           1           1
8                       a b cosimi           M           1           1
9                  a b lipscomb jr           M           1           1
10                   a b wilcox jr           M           1           1
11                        a c cage           M           1           1
12                       a c heath           M           1           1
13                      a c iudica           F           1           1
14                   a c liles iii         NaN           1           1
15                   a c macarthur         NaN           1           1
16                    a c villamor           M           1           1
17                      a charalel           F           1           1
18                      a d chisum           M           1           1
19                  a d duggan jr.           M           1           1
20                      a d felber           M           1           1
21                        a d flug           M           1           1
22                      a d hauser           M           1           1
23                      a d lerner           M           1           1
24                     a d monheit           M           1           1
25                    a d pinheiro           M           1           1
26                     a d rothner         NaN           1           1
27                     a d shushan           M           1           1
28                      a e bailey           F           1           1
29               a e conroy kegley           F           1           1
...                            ...         ...         ...         ...
439631               zvi h fischer         NaN           1           1
439632             zvi h herschman           M           1           1
439633                zvi h perper           M           1           1
439634                zvi j batash           M           1           1
439635             zvi j frankfurt           M           1           1
439636             zvi j schiffman           M           1           1
439637                 zvi kalisky           M           1           1
439638              zvi m eckstein           M           1           1
439639                zvi m levran           M           1           1
439640             zvi m osterweil           M           1           1
439641               zvi margaliot           M           1           1
439642                zvi s marans           M           1           1
439643             zvi s weisstuch           M           1           1
439644                    zvi sela           M           1           1
439645                   zvi sharf           M           1           1
439646                 zvi zisbrod         NaN           1           1
439647              zvjezdan nuhic           M           1           1
439648  zvjezdana dekic-djordjevic           F           1           1
439649            zvonimir l milas           M           1           1
439650               zvonko spasic           M           1           1
439651             zwi a schreiber           M           1           1
439652                    zwi hoch           M           1           1
439653               zwi steindler           M           1           1
439654       zwinda s ortiz-roldan           F           1           1
439655                  zyad kafri           M           1           1
439656                 zyad younan           M           1           1
439657             zygfryd j szeja           M           1           1
439658         zygmunt orzechowski           M           1           1
439659        zygmunt t wawrzyniak           M           1           1
439660           zynia r pua-vines           F           1           1

[439661 rows x 4 columns]

In [10]:
def fistname(x):
    name = str(x).split(' ')
    print(name[0])
    return name[0]

In [13]:
GenderFactTable_test = GenderFactTable.iloc[:100,:]

In [14]:
GenderFactTable_test

                 name gender_fact  first_name  gender_pre
0         a a durrani           M           1           1
1          a a hodari           F           1           1
2         a a kennedy           M           1           1
3          a a khalil           M           1           1
4         a a towfigh           M           1           1
5          a b belman           M           1           1
6            a b benz           M           1           1
7        a b chumbley           M           1           1
8          a b cosimi           M           1           1
9     a b lipscomb jr           M           1           1
10      a b wilcox jr           M           1           1
11           a c cage           M           1           1
12          a c heath           M           1           1
13         a c iudica           F           1           1
14      a c liles iii         NaN           1           1
15      a c macarthur         NaN           1           1
16       a c villamor           M           1           1
17         a charalel           F           1           1
18         a d chisum           M           1           1
19     a d duggan jr.           M           1           1
20         a d felber           M           1           1
21           a d flug           M           1           1
22         a d hauser           M           1           1
23         a d lerner           M           1           1
24        a d monheit           M           1           1
25       a d pinheiro           M           1           1
26        a d rothner         NaN           1           1
27        a d shushan           M           1           1
28         a e bailey           F           1           1
29  a e conroy kegley           F           1           1
..                ...         ...         ...         ...
70           a l shaw           M           1           1
71          a l teitz         NaN           1           1
72          a l weese         NaN           1           1
73         a l womack           M           1           1
74      a m alexander           M           1           1
75        a m aminian           M           1           1
76           a m aura           M           1           1
77          a m coppa           M           1           1
78        a m garrett           F           1           1
79       a m gillinov           M           1           1
80         a m gohari           M           1           1
81      a m holden jr         NaN           1           1
82         a m marino           M           1           1
83         a m martin           F           1           1
84         a m mazzeo           F           1           1
85         a m molina           M           1           1
86         a m novena           M           1           1
87  a m patterson jr.           M           1           1
88         a m rainey           F           1           1
89         a m samaha           M           1           1
90         a m sheehy           M           1           1
91        a m spencer           F           1           1
92        a mossahebi           M           1           1
93      a n damodaran         NaN           1           1
94      a n gianitsos           M           1           1
95       a n harrison           M           1           1
96           a n mack           F           1           1
97        a n mauskar           M           1           1
98      a n terry jr.           M           1           1
99      a o odugbesan           M           1           1

[100 rows x 4 columns]

In [15]:
tmp = GenderFactTable_test.groupby('name').agg({'first_name': fistname})

In [ ]:
#GenderFactTable.first_name = GenderFactTable.first_name.apply

In [19]:
for i in np.arange(len(GenderFactTable.name)):
    GenderFactTable.iloc[i,2] = fistname(GenderFactTable.iloc[i,0])

In [21]:
GenderFactTable

                              name gender_fact first_name  gender_pre
0                      a a durrani           M          a           1
1                       a a hodari           F          a           1
2                      a a kennedy           M          a           1
3                       a a khalil           M          a           1
4                      a a towfigh           M          a           1
5                       a b belman           M          a           1
6                         a b benz           M          a           1
7                     a b chumbley           M          a           1
8                       a b cosimi           M          a           1
9                  a b lipscomb jr           M          a           1
10                   a b wilcox jr           M          a           1
11                        a c cage           M          a           1
12                       a c heath           M          a           1
13                      a c iudica           F          a           1
14                   a c liles iii         NaN          a           1
15                   a c macarthur         NaN          a           1
16                    a c villamor           M          a           1
17                      a charalel           F          a           1
18                      a d chisum           M          a           1
19                  a d duggan jr.           M          a           1
20                      a d felber           M          a           1
21                        a d flug           M          a           1
22                      a d hauser           M          a           1
23                      a d lerner           M          a           1
24                     a d monheit           M          a           1
25                    a d pinheiro           M          a           1
26                     a d rothner         NaN          a           1
27                     a d shushan           M          a           1
28                      a e bailey           F          a           1
29               a e conroy kegley           F          a           1
...                            ...         ...        ...         ...
439631               zvi h fischer         NaN        zvi           1
439632             zvi h herschman           M        zvi           1
439633                zvi h perper           M        zvi           1
439634                zvi j batash           M        zvi           1
439635             zvi j frankfurt           M        zvi           1
439636             zvi j schiffman           M        zvi           1
439637                 zvi kalisky           M        zvi           1
439638              zvi m eckstein           M        zvi           1
439639                zvi m levran           M        zvi           1
439640             zvi m osterweil           M        zvi           1
439641               zvi margaliot           M        zvi           1
439642                zvi s marans           M        zvi           1
439643             zvi s weisstuch           M        zvi           1
439644                    zvi sela           M        zvi           1
439645                   zvi sharf           M        zvi           1
439646                 zvi zisbrod         NaN        zvi           1
439647              zvjezdan nuhic           M   zvjezdan           1
439648  zvjezdana dekic-djordjevic           F  zvjezdana           1
439649            zvonimir l milas           M   zvonimir           1
439650               zvonko spasic           M     zvonko           1
439651             zwi a schreiber           M        zwi           1
439652                    zwi hoch           M        zwi           1
439653               zwi steindler           M        zwi           1
439654       zwinda s ortiz-roldan           F     zwinda           1
439655                  zyad kafri           M       zyad           1
439656                 zyad younan           M       zyad           1
439657             zygfryd j szeja           M    zygfryd           1
439658         zygmunt orzechowski           M    zygmunt           1
439659        zygmunt t wawrzyniak           M    zygmunt           1
439660           zynia r pua-vines           F      zynia           1

[439661 rows x 4 columns]

In [5]:
GenderFactTable.to_csv("GenderFactTable_2.csv", index=False)

NameError: name 'GenderFactTable' is not defined

In [3]:
GenderFactTable = pd.read_csv(open('GenderFactTable_2.csv','rU'), encoding='utf-8', engine='c')

C:\Users\amyhu\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning: 'U' mode is deprecated
  if __name__ == '__main__':

In [4]:
GenderFactTable.head()

          name gender_fact first_name  gender_pre
0  a a durrani           M          a           1
1   a a hodari           F          a           1
2  a a kennedy           M          a           1
3   a a khalil           M          a           1
4  a a towfigh           M          a           1

In [5]:
from __future__ import absolute_import, division, print_function
from six.moves import urllib
import os
from zipfile import ZipFile
import csv
import io


class simpleGenderPredictor():
    
    def __init__(self):
        self.name_dict = self.extractNamesDict()

    def downloadNames(self):
        urllib.request.urlretrieve(
            'https://www.ssa.gov/oact/babynames/names.zip', 'names.zip')

    def extractNamesDict(self):
        """
        download names.zip from SSA if necessary
        construct a dict from SSA name data: NAME: [number of M, number of F]
        """
        if not os.path.exists('names.zip'):
            print('names.zip does not exist, downloading from ssa.gov')
            self.downloadNames()
        else:
            print('names.zip exists, not downloading')
        zf = ZipFile('names.zip', 'r')
        filenames = zf.namelist()

        names = dict()
        genderMap = {'M': 0, 'F': 1}

        for filename in filenames:
            if filename.endswith('.txt'):
                file = zf.open(filename, 'r')
                rows = csv.reader(
                    io.TextIOWrapper(file, encoding="latin-1"), delimiter=',')

                for row in rows:
                    name = row[0].upper()
                    gender = genderMap[row[1]]
                    count = int(row[2])

                    if name not in names:
                        names[name] = [0, 0]
                    names[name][gender] = names[name][gender] + count
                file.close()
        print('name dictionary constructed')
        return names

    def predict_name(self, a_name):
        """
        Outputs a tuple: prediction, probability from historical data
        """
        freq = self.name_dict.get(a_name.upper())
        if freq is None:
            return 'Unknown', None
        elif freq[0] >= freq[1]:
            return 'M', freq[0] / (freq[0] + freq[1])
        else:
            return 'F', freq[1] / (freq[0] + freq[1])

In [6]:
# from simpleGenderPredictor import simpleGenderPredictor
p = simpleGenderPredictor()

names.zip exists, not downloading
name dictionary constructed

In [7]:
firstNameList = list(GenderFactTable.first_name)

In [8]:
gender_pre = []

In [9]:
for i in firstNameList:
    pre = p.predict_name(str(i))
    gender_pre += [pre[0]]

In [11]:
gender_pre_series = pd.Series(gender_pre)

In [12]:
GenderFactTable['gender_pre'] = gender_pre_series.values

In [13]:
GenderFactTable

                              name gender_fact first_name gender_pre
0                      a a durrani           M          a    Unknown
1                       a a hodari           F          a    Unknown
2                      a a kennedy           M          a    Unknown
3                       a a khalil           M          a    Unknown
4                      a a towfigh           M          a    Unknown
5                       a b belman           M          a    Unknown
6                         a b benz           M          a    Unknown
7                     a b chumbley           M          a    Unknown
8                       a b cosimi           M          a    Unknown
9                  a b lipscomb jr           M          a    Unknown
10                   a b wilcox jr           M          a    Unknown
11                        a c cage           M          a    Unknown
12                       a c heath           M          a    Unknown
13                      a c iudica           F          a    Unknown
14                   a c liles iii         NaN          a    Unknown
15                   a c macarthur         NaN          a    Unknown
16                    a c villamor           M          a    Unknown
17                      a charalel           F          a    Unknown
18                      a d chisum           M          a    Unknown
19                  a d duggan jr.           M          a    Unknown
20                      a d felber           M          a    Unknown
21                        a d flug           M          a    Unknown
22                      a d hauser           M          a    Unknown
23                      a d lerner           M          a    Unknown
24                     a d monheit           M          a    Unknown
25                    a d pinheiro           M          a    Unknown
26                     a d rothner         NaN          a    Unknown
27                     a d shushan           M          a    Unknown
28                      a e bailey           F          a    Unknown
29               a e conroy kegley           F          a    Unknown
...                            ...         ...        ...        ...
439631               zvi h fischer         NaN        zvi          M
439632             zvi h herschman           M        zvi          M
439633                zvi h perper           M        zvi          M
439634                zvi j batash           M        zvi          M
439635             zvi j frankfurt           M        zvi          M
439636             zvi j schiffman           M        zvi          M
439637                 zvi kalisky           M        zvi          M
439638              zvi m eckstein           M        zvi          M
439639                zvi m levran           M        zvi          M
439640             zvi m osterweil           M        zvi          M
439641               zvi margaliot           M        zvi          M
439642                zvi s marans           M        zvi          M
439643             zvi s weisstuch           M        zvi          M
439644                    zvi sela           M        zvi          M
439645                   zvi sharf           M        zvi          M
439646                 zvi zisbrod         NaN        zvi          M
439647              zvjezdan nuhic           M   zvjezdan    Unknown
439648  zvjezdana dekic-djordjevic           F  zvjezdana    Unknown
439649            zvonimir l milas           M   zvonimir    Unknown
439650               zvonko spasic           M     zvonko    Unknown
439651             zwi a schreiber           M        zwi    Unknown
439652                    zwi hoch           M        zwi    Unknown
439653               zwi steindler           M        zwi    Unknown
439654       zwinda s ortiz-roldan           F     zwinda    Unknown
439655                  zyad kafri           M       zyad          M
439656                 zyad younan           M       zyad          M
439657             zygfryd j szeja           M    zygfryd    Unknown
439658         zygmunt orzechowski           M    zygmunt          M
439659        zygmunt t wawrzyniak           M    zygmunt          M
439660           zynia r pua-vines           F      zynia          F

[439661 rows x 4 columns]

In [14]:
GenderFactTable.to_csv("GenderFact_Predict_Table.csv", index=False)